[Desktop Entry]
Encoding=UTF-8
Name=Optimacoin
Comment=Optimacoin P2P Cryptocurrency
Comment[fr]=Optimacoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Optimacoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/optimacoin-qt %u
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/optimacoin128.png
MimeType=x-scheme-handler/optimacoin;
Categories=Office; Finance;
