[Unit]
Description=Optimacoin's distributed currency daemon
After=network.target

[Service]
User=optimacoind
Group=optimacoind

Type=forking
PIDFile=/var/lib/optimacoind/optimacoind.pid
ExecStart=/usr/bin/optimacoind -daemon -pid=/var/lib/optimacoind/optimacoind.pid -conf=/etc/optimacoind.conf -datadir=/var/lib/optimacoind 

Restart=always
PrivateTmp=true

[Install]
WantedBy=multi-user.target
